<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
          <form action="/ta02/addUser" method="POST"><input name="username" type="text"><button type="submit">Submit</button></form>
          <% for (let user of users) { %>
            <li><%= user.username %></li>
          <% } %>;  

          <form action="/ta02/removeUser" method="POST"><button type="">Remove</button></form>
      </div>
    </div>
    <div class="container">

    </div>


</body>

</html>